.container {
  position: relative;
  margin: 100px auto;
}
.squares {
  width: 40px; height:40px;
  float: left;
  display: inline-block;
  border: 1px solid black;
  position: relative;
  background: grey;
}
.player {
  width:30px; height: 30px;
  margin: 7px 7px;
  background: red;
  position: absolute;
}
body {
  background: lightblue;
}
.block {
  width: 30px; height: 30px;
  float: left;
  margin: 5px 5px;
}
.bomb {
  width: 30px; height: 30px;
  background: green;
  float: left;
  margin: 5px 5px;
  position: relative;
}
h1 {
  color: purple;
  font-size: 52px;
  text-align: center;
}
p {
  font-size: 26px;
  text-align: center;
}
